<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liveidsdk">
          <uses-permission android:name="android.permission.CAMERA" />

            <!-- optionally, if you want to record audio: -->
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
